body {
    background-color:rgb(77, 179, 73);
    color: rgb(0, 0, 0);
    font-family: "Knewave", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: rgb(142, 71, 160);
    color: rgb(0, 0, 0);
     font-family: "Knewave", system-ui;
}