body {
    background-color:rgb(39, 194, 34);
    color: rgb(0, 0, 0);
    font-family: "Knewave", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: mediumorchid;
    color: rgb(0, 0, 0);
     font-family: "Knewave", system-ui;
}